<div class="control">
    <div class="rows">

          <div class="col-md-p2">
            <div class="callicon my-cursor" title="call">
                <i class="fa fa-phone fa-white fa-3x" aria-hidden="true"></i>   

            </div>
            
          </div>
      <div class="col-md-p2">
        <a routerLink="whatsapp">
        <div class="whatsicon my-cursor" title="whatsapp">
            <i class="fa fa-whatsapp fa-3x fa-white" ></i>
        </div>
       </a> 
      </div>
      <div class="col-md-p2">
        <div class="fbicon my-cursor" title="facebook">
            <i class="fa fa-facebook fa-3x fa-white" ></i>

        </div>
        
      </div>
      <div class="col-md-p2 midcol">
        <div class="homedocker" title="home">
          <i class="fa fa-circle text-dark fa-2x docdot" aria-hidden="true"></i>
          <i class="fa fa-circle text-dark docdot" aria-hidden="true"></i>

          <i class="fa fa-circle text-dark docdot" aria-hidden="true"></i>
          <br>
          <i class="fa fa-circle text-dark docdot" aria-hidden="true"></i>

          <i class="fa fa-circle text-dark docdot" aria-hidden="true"></i>

          <i class="fa fa-circle text-dark docdot" aria-hidden="true"></i>

        </div>
      </div>
      <div class="col-md-p2">
        <div class="camicon my-cursor" title="camera" >
        <a  routerLink="camera">          
          <i class="fa fa-camera fa-white fa-2x" aria-hidden="true" (click)="camclicked()" text="#1abc9c"></i>
        </a></div>

      </div>
      <div class="col-md-p2">
        <div class="insticon my-cursor" title="instagram">
            <i class="fa fa-instagram fa-white fa-3x "></i>
        </div>

      </div>
      <div class="col-md-p2">
        <div class="twittericon my-cursor" title="twitter">
            <i class="fa fa-twitter fa-white fa-3x "></i>
            
        </div>
      </div>
      
    </div>
  </div>