<div class="camerascreen">
  <div class="streamarea">
    <div  class="img-disp">
        <video id="camera-stream" autoplay></video>
    </div>
  </div>
  <div class="setuparea">
    <div class="setuprow">
      <div class="setupcol">
          <div class="cam-gallery my-cursor" title="galery">
              <i class="fa fa-file-image-o fa-2x text-light" aria-hidden="true" ></i>
          </div>
      </div>
      <div class="setupcol">
          <div class="cam-capture my-cursor" title="capture">
            <i  class="fa  fa-eercast fa-2x text-light" aria-hidden="true" ></i>
          </div>
      </div>
      <div class="setupcol">
          <div class="cam-setup my-cursor" title="setting">
              <i class="fa fa-cog fa-2x text-light" aria-hidden="true"></i>
          </div>
      </div>
    </div>
   
 
    
  </div>
</div>
