<div class="mobheader" [style.backgroundColor]="headercolor">


    <div class="rows headrow">
      <div class="col-md-p1">
        <i class="fa fa-signal fa-white" aria-hidden="true"></i>
      </div>
      <div class="col-md-p1">
        <i class="fa fa-signal fa-white" aria-hidden="true"></i>
      </div>
      <div class="col-md-p1">
        <i class="fa fa-wifi fa-white" aria-hidden="true"></i>
      </div>
      <div class="col-md-p1">
        <i class="fa fa-clock-o fa-white" aria-hidden="true"></i>
      </div>
        <div class="col-md-p1">
        <i class="fa fa-user-circle fa-white" aria-hidden="true"></i>
          
        </div>
      <div class="col-md-p1"></div>
        
      <div class="col-md-p1"></div>
      <div class="col-md-p1"></div>
      <div class="col-md-p1"></div>
      <div class="col-md-p1"></div>
      <div class="col-md-p1"></div>

      <div class="col-md-p1">
        <i class="fa fa-battery-full fa-white" aria-hidden="true"></i>
      </div>
      <div class="col-md-p1">
        <i class="fa-white smalfont">99%</i>
      </div>

    </div>
  </div>

