.datearea
{
    height:100px;
    width: 200px;
    /* border:1px solid black; */
    color: azure;
    float: right;
}
.datefull
{
    text-shadow: 0px 0px 5px gray;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    padding-right:5px;
}
.timefull
{
    text-align: right;
    text-shadow: 0px 0px 5px gray;
    font-style: italic;
    padding-right:10px;
    
    font-weight: bold;
    
    

}