<div class="mobilewrap">
  <div class="row uppercam">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-10">
          <div class="speaker">
            <table class="tb">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-2">
          <div class="camera">
            <div class="camera-focus"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>



  <div class="screen">
    <div class="mobheader"></div>

  </div>
  <div class="midbutton" (click)="homebtnclick(this)" [class.midcircleshadow]="shad">
    <div [class.midcircleshadow]="shad" class="midcircle"></div>
  </div>
</div>
<div style="box-sizing: border-box; width: 26px; height: 26px; position: absolute; top: 13px; left: 15px; border-width: 3px; border-style: solid; border-color: rgba(51, 54, 58, 0.4) transparent; border-radius: 13px; transform-origin: 50% 50% 0px; transition: transform 700s linear 0s; transform: rotate(360000deg);"></div>