<div class="mobilewrap">
  <div class="row uppercam">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-10">
          <div class="speaker">
            <table class="tb">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-2">
          <div class="camera">
            <div class="camera-focus"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>



  <div class="screen" >
    <div class="mobheader" [style.backgroundColor]="headercolor">


      <div class="rows headrow">
        <div class="col-md-p1">
          <i class="fa fa-signal fa-white" aria-hidden="true"></i>
        </div>
        <div class="col-md-p1">
          <i class="fa fa-signal fa-white" aria-hidden="true"></i>
        </div>
        <div class="col-md-p1">
          <i class="fa fa-wifi fa-white" aria-hidden="true"></i>
        </div>
        <div class="col-md-p1">
          <i class="fa fa-clock-o fa-white" aria-hidden="true"></i>
        </div>
        <div class="col-md-p1"></div>
        <div class="col-md-p1"></div>
        <div class="col-md-p1"></div>
        <div class="col-md-p1"></div>
        <div class="col-md-p1"></div>
        <div class="col-md-p1"></div>
        
        <div class="col-md-p1">
          <i class="fa fa-battery-full fa-white" aria-hidden="true"></i>
        </div>
        <div class="col-md-p1">
          <i class="fa-white smalfont">99%</i>
        </div>
      
      </div>

    </div>
  </div>
  <div class="midbutton" (click)="homebtnclick(this)" [class.midcircleshadow]="shad">
    <div [class.midcircleshadow]="shad" class="midcircle"></div>
  </div>
</div>