<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="mobilewrap">
      <div class="row uppercam">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10">
              <div class="speaker">
                <table class="tb">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-2">
              <div class="camera">
                <div class="camera-focus"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>



      <div class="screen">
        <app-headbar [headercolor]="headercolor" class="homebar"></app-headbar>
        <!-- home screen -->
        <!-- <app-camera-screen *ngIf="!homescreendisply && cameraopen"></app-camera-screen>
                      <app-whatsapp *ngIf="!homescreendisply && whatsopen"></app-whatsapp> -->
        <router-outlet></router-outlet>


      </div>
      <div class="bottomButton">
        <div class="bottomButtonsec1">
        
          <i  class="fa  fa-square-o recentApp  fa-2x fa-white"></i>            
          
          
          <i  class="fa  fa-square-o recentApp2 fa-2x fa-white"></i>
            
          
          
        </div>
        <div class="bottomButtonsec2">
          <div class="midbutton" [class.midcircleshadow]="shad">
            <a routerLink="">
              <div [class.midcircleshadow]="shad" class="midcircle"></div>
            </a>
          </div>
        </div>
        <div class="bottomButtonsec3">
          <div class="backButton">
            <i  class="fa  fa-share fa-rotate-180  homebackbutton" (click)="goBack()"></i>
          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="col-md-4"></div>
</div>
