.mystatus {
  width: 100%;
  height: 20%;
  border-bottom: 0.2em solid lightgray;
  background: #fafafa;
  cursor: pointer;
}
.rcupdate,.vdupdate {
  height: auto;
  background: #fafafa;
  
  /* padding-bottom:8px; */
}
.recentupdate {
  width: 100%;
  min-height: 20%;
  border-bottom: 0.2em solid lightgray;
  background: #fafafa;
  /* margin-top: 1px; */
}
.recentupdate:empty {
  display: block;
}
/* .mystatusico{
    background-color: #20C659;
    height:100%;
    width:20%;
    border-radius: 50%;
    padding-top:20px;
    padding-left: 17px;
} */
.viewed {
  width: 100%;
  height: auto;
  border-bottom: 0.2em solid lightgray;
  background: #fafafa;
}
.viewed:empty {
  display: none;
}
.mystat {
  font-weight: bold;
  margin-left: 10px;
}
.instruction {
  margin-left: 10px;
}
.img-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #20c659;
}
