.contRow1{
height:20%;
width:100%;
background-color: rgb(25, 169, 147);

/* border:1px solid  green; */
}
.contRow2{
    height:80%;
    width:100%;
    background-color: white;
/* border:1px solid  green; */
    
}
.contactWrapper
{
    height: 475px;
}
.contactarea{
    width: 100%;
    height: 100%;
    overflow:scroll;

}
.contactarea::-webkit-scrollbar{
    width: 0px;
        background: transparent;
}