.chatscreen{
    height: 80%;
    width:100%;
    /* border:2px solid  blue; */
}
.whatswindow
{
    height:480px;
    width:100%;
    /* border:2px solid  green; */
}
.chatscreen
{
    width:100%;
    background: url("../../assets/images/whats.png");
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    scroll-behavior:smooth;
    
    /* border:2px solid black; */
}
.chatscreen::-webkit-scrollbar{
    
        width: 0px;
        background: transparent; /* make scrollbar transparent */
  
}
@media screen and (max-width:600px){
    .whatswindow {
        height:600px;
    }
}